.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #3d2285;
}

html {
  background-color: #070b24;
}

/* * {
  background-color: #070b24;
} */

.renk {
  background-color: #070b24;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000; /* Çizgi rengi */
  transform-origin: left;
  animation: underline 0.2s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.butonYaziRengi {
  color: #8942c1;
}

.butonYaziRengi2 {
  background-color: #3d2285;
}

.renk2 {
  background-color: #05081a;
}

.renk3 {
  color: #2c36bd;
}
